/*CSS Document*/

@font-face {
    font-family: 'alpha_echoregular';
    src: url('fonts/alpha_echo-webfont.eot');
    src: url('fonts/alpha_echo-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/alpha_echo-webfont.woff') format('woff'),
         url('fonts/alpha_echo-webfont.ttf') format('truetype'),
         url('fonts/alpha_echo-webfont.svg#alpha_echoregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'ralewayblack';
    src: url('fonts/raleway-black-webfont.eot');
    src: url('fonts/raleway-black-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/raleway-black-webfont.woff2') format('woff2'),
         url('fonts/raleway-black-webfont.woff') format('woff'),
         url('fonts/raleway-black-webfont.ttf') format('truetype'),
         url('fonts/raleway-black-webfont.svg#ralewayblack') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'ralewayregular';
    src: url('fonts/raleway-regular-webfont.eot');
    src: url('fonts/raleway-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/raleway-regular-webfont.woff2') format('woff2'),
         url('fonts/raleway-regular-webfont.woff') format('woff'),
         url('fonts/raleway-regular-webfont.ttf') format('truetype'),
         url('fonts/raleway-regular-webfont.svg#ralewayregular') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'ralewaylight';
    src: url('fonts/raleway-light-webfont.eot');
    src: url('fonts/raleway-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/raleway-light-webfont.woff2') format('woff2'),
         url('fonts/raleway-light-webfont.woff') format('woff'),
         url('fonts/raleway-light-webfont.ttf') format('truetype'),
         url('fonts/raleway-light-webfont.svg#ralewaylight') format('svg');
    font-weight: normal;
    font-style: normal;

}
* {
z-index: inherit;
}

.container {
    font-family: 'ralewaylight', sans-serif;
    font-size: 18px;
    text-align: left;
    width: 60em;
    margin: 0 auto;
    padding-bottom: 1em;
    padding-top: 1em;
    padding-left: 1em;
    color: #CD5C5C;
}

#Contact {
    font-family: 'ralewayregular', sans-serif;
    color: #FFFFC6;
    padding-top: 5em;
}

#headText {
    font-family: 'alpha_echoregular';
    font-size: 50px;
    margin-bottom: 100px;
    padding-left: 10px;
    color: #FFFFC6;
    width: 250px;
}

#headText:hover {
    color: #CD5C5C;
    cursor: pointer;
}
video { display: block; }
video#bgvid { 
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background: url(../img/AboutImage.png) no-repeat;
    background-size: cover; 
}

@media screen and (max-device-width: 800px) {
    html {
         background: url(../img/AboutImage.png) #000 no-repeat center center fixed;
    }
    #bgvid {
        display: none;
    }
}

a:link {
    color: #FFFFC6;
    text-decoration: none;
}

a:hover {
    color: #CD5C5C;
}